<!DOCTYPE html>
<html>
  <head>
    <title>AppPrueba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper" <%= "class= fade-in" if "#{params[:controller]}-#{params[:action]}" == "pages-landing" %>>
  <% if "#{params[:controller]}-#{params[:action]}" == "pages-landing" %>
  <%= render "shared/intro" %>
  <% end %>
  <%= render "shared/navbar" %>
  <%= yield %>
  <%= render "shared/footer"  %>
  
  </body>
</html>
